<!DOCTYPE HTML>
<html lang="en">

<head>
  <%= require('html-loader!./head.html') %>
</head>



<body>
  <div class="main-application">
    <%= require('html-loader!./header.html') %>
    <%= require('html-loader!./texteditor.html') %>
    <%= require('html-loader!./left-sidebar.html') %>
    <%= require('html-loader!./center.html') %>
    <%= require('html-loader!./right-sidebar.html') %>
  </div>
  <!-- fixed windows -->
  <%= require('html-loader!./window-onlineElementPackages.html') %>
  <%= require('html-loader!./window-addToUsingElementPackages.html') %>
</body>

</html>
