<!-- This is the entry file for the whole Page -->
<!DOCTYPE HTML>
<html lang="en">

<head>
  <%= require('html-loader!./head.html') %>
</head>



<body>
  <%= require('html-loader!./noScript.html') %>
  <%= require('html-loader!./loadingScreen.html') %>
  <div class="main-application">
    <%= require('html-loader!./header.html') %>
    <div class="left-sidebar sidebar">
    <%= require('html-loader!./left-sidebar.html') %>
    <%= require('html-loader!./newElements.html') %>
    <%= require('html-loader!./domTree.html') %>
    </div>
    <%= require('html-loader!./center.html') %>
    <div class="right-sidebar sidebar" id="elementEditor">
    <%= require('html-loader!./right-sidebar.html') %>
    <%= require('html-loader!./elementEditor.html') %>
    </div>
  </div>
  <!-- fixed windows -->
  <%= require('html-loader!./displayMessage.html') %>
  <%= require('html-loader!./window-onlineElementPackages.html') %>
  <%= require('html-loader!./window-addToUsingElementPackages.html') %>
</body>

</html>
