/** The styling for center.html */
.center {
  position: relative;
  float: left;
  width: calc(100% - 550px);
  height: calc(100% - 40px);
  background-color: $main-background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  > iframe {
    height: 95%;
    border: none;
    background-color: #fff;
  }
}

.center .hover-wrapper,
.click-wrapper {
  position: absolute;
  z-index: 100;
  height: 95%;
  width: 1200px;
  pointer-events: none;
}

.center .hover {
  z-index: 100;
  display: none;
  position: absolute;
  border: 3px dashed $frameHover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.center .click {
  z-index: 100;
  display: none;
  position: absolute;
  border: 3px solid $frameClick;

  > .items {
    position: absolute;
    top: -25px;
    left: -3px;
    pointer-events: all;

    > ul {
      margin: 0;
      padding: 0 5px;
      height: 25px;
      background-color: $frameClick;

      > li {
        margin-left: 10px;
        height: 25px;
        list-style: none;
        // edge fix (https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load)
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
        float: left;
        color: $light;
        font-size: 15px;
        line-height: 25px;
        pointer-events: all;
        cursor: pointer;

        &.itemName {
          cursor: initial;
        }

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          color: $light-active;
        }
      }
    }
  }
}
