/** The styling for the generated domTree by pageDomTree.js */
.domTree {
  padding: 5px;
  height: 300px;

  > ul {
    width: calc(100% - 30px) !important;
    margin-left: 0 !important;
  }

  li,
  ul {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;

    span {
      font-size: 11px;
      font-weight: 100;
      margin-left: 5px;
      color: $highlight;
    }
  }

  ul {
    position: relative;
    margin: 0 0 0 15px;

    p {
      float: left;
      width: 92%;
      font-size: 16px;

      &:hover {
        background-color: $frameHover;
      }
    }

    &.active {
      >i {
        transform: rotate(90deg);
      }
      >li,
      >ul {
        animation: fadeIn .6s forwards;
        display: inline-block;
      }
    }
    li,
    ul {
      display: none;
    }

    i {
      float: left;
      margin-right: 5px;
      transform: rotate(0);
      transition: transform .3s;
    }

    li {
      margin: 2px 0 2px 15px;
      list-style: none;

      &:hover {
        background-color: $frameHover;
      }
    }
  }
}
