// delimiter
.element-editor {
  height: 95%;
  display: none;

  &.selected {
    display: block;
    animation: fadeIn .5s;
  }

  &.element-editor-specific .element-properties {
    display: none;

    &.active {
      display: block;
    }
  }
}

.element-editor button {
  width: 80%;
}

.element-editor .delimiter {
  border-bottom: 1px solid $main2;
  width: 60%;
  margin: 5px 0;
  margin-left: 20%;
}

.element-editor .sidebar-category {
  display: inline-block;

  &::after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}

.text-with-input {
  height: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 5%;

  &::after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }

  >p {
    line-height: 25px;
    height: 25px;
    text-align: left;
    width: 50%;
    float: left;

    >img {
      width: 16px;
      height: 16px;
    }
  }

  >input,
  >select {
    height: 25px;
    text-align: left;
    width: 50%;
    float: left;

    &:active {
      border: 0;
      border-bottom: 1px solid $grey;
    }
  }

  &.fullwidth {
    width: 90%;

    >p {
      width: 20px;
    }

    >input,
    >select {
      width: calc(100% - 20px);
    }
  }

  &.halfwidth {
    width: 40%;
    float: left;

    >p {
      width: 20px;
    }

    >input,
    >select {
      margin-left: 5px;
      width: calc(100% - 30px);
    }
  }

  &.thirdwidth {
    width: 30%;
    float: left;

    >p {
      width: 20px;
    }

    >input,
    >select {
      width: calc(100% - 20px);
    }
  }

  &.colorpicker {
    >input {
      border: 0;
      float: left;
    }
  }
}

// Selector
.element-editor .selector {
  width: 100%;
  position: relative;

  .mini-window {
    padding: 10px 0;
    width: 90%;
    margin-left: 5%;
    background-color: $main;
    display: none;

    &.active {
      display: block;
      backface-visibility: visible;
      animation: flipInX .5s;
    }

    >p {
      color: $highlight;
    }

    >button {
      width: 40%;
      margin-left: 6%;
      float: left;
      box-sizing: border-box;
      margin-top: 5px;

      &:last-child {
        width: 86%;
        margin-left: 6%;
      }
    }
  }

  .all-classes {
    width: 80%;
    margin-left: 10%;
    border: 1px solid $grey;
    padding: 5px;
    box-sizing: border-box;

    &::after {
      content: '.';
      clear: both;
      display: block;
      visibility: hidden;
      height: 0;
    }

    .item {
      font-size: 15px;
      float: left;
      padding: 3px;
      margin: 3px;
      color: $light;
      background-color: $highlight;
      transition: background-color .5s;
      cursor: pointer;
      animation: fadeInRight .5s;

      &:hover {
        background-color: $highlight-active;
      }
    }
  }
}

// Layout padding-margin
.layout .padding-margin {
  $abstand: 5px;

  .margin {
    margin: 40px 0;
    position: relative;
    width: 180px;
    margin-left: 60px;
    height: 120px;

    .bottom,
    .top {
      width: 180px - 30px - $abstand;
    }

    .left,
    .right {
      height: 120px - 30px - $abstand;

      input {
        width: 50px;
        top: 35px;
      }
    }

    .top input {
      top: -20px;
    }

    .bottom input {
      top: 20px;
    }

    .left input {
      left: -50px;
    }

    .right input {
      left: 10px;
    }
  }

  .padding {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 140px;
    height: 80px;

    .bottom,
    .top {
      width: 140px - 30px - $abstand;
    }

    .left,
    .right {
      height: 80px - 30px - $abstand;

      input {
        width: 50px;
        top: 15px;
      }
    }

    .top input {
      top: 20px;
    }

    .bottom input {
      top: -20px;
    }

    .left input {
      left: 10px;
    }

    .right input {
      left: -50px;
    }
  }

  .bottom,
  .top {
    height: 15px;
    left: 15px + $abstand / 2;
  }

  .left,
  .right {
    width: 15px;
    top: 15px + $abstand / 2;
  }
}

.editor-direction {
  position: absolute;
  background-color: $main2;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    clear: both;
  }

  >input {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: 0;
  }

  &.top {
    width: 100%;
    top: 0;
    left: 0;

    &::after,
    &::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      border-top: 15px solid $main2;
    }

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }
  }

  &.right {
    height: 100%;
    right: 0;
    top: 0;

    &::after,
    &::before {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      left: 0;
      border-right: 15px solid $main2;
    }

    &::before {
      top: -15px;
    }

    &::after {
      bottom: -15px;
    }
  }

  &.bottom {
    width: 100%;
    bottom: 0;
    left: 0;

    &::after,
    &::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      border-bottom: 15px solid $main2;
    }

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }
  }

  &.left {
    height: 100%;
    left: 0;
    top: 0;

    &::after,
    &::before {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      left: 0;
      border-left: 15px solid $main2;
    }

    &::before {
      top: -15px;
    }

    &::after {
      bottom: -15px;
    }
  }
}

// Layout width-height
.element-editor .expandable-container {
  width: 100%;
  height: 100%;

  &::after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }

  .expandable-header {
    width: 100%;
    height: 100%;
    position: relative;

    >i {
      margin-top: 15px;
      height: 25px;
      line-height: 25px;
      width: 10%;
      float: left;
      cursor: pointer;
      transition: color .5s;
      transition: transform .3s; // sass-lint:disable-line no-duplicate-properties

      &:hover {
        color: $light2;
      }

      &.active {
        transform: rotate(180deg);
      }
    }

    >.text-with-input {
      width: 40%;
      float: left;

      &:last-child {
        margin-left: 0;
      }

      &.with-text {
        >p {
          width: 50%;
        }

        >input {
          padding: 3px 0;
          margin-left: 0;
          width: 50%;
        }
      }

    }
  }

  .expandable-content {
    display: none;

    &.active {
      display: block;
      backface-visibility: visible;
      animation: flipInX .5s;
    }

    >.text-with-input {
      margin-top: 10px;
      margin-left: 5%;
      width: 40%;
      float: left;

      &:nth-child(2n) {
        margin-left: 10%;
      }

      >input {
        padding: 3px 0;
      }
    }

    &::after {
      content: '.';
      clear: both;
      display: block;
      visibility: hidden;
      height: 0;
    }
  }
}

.element-editor .radio-block {
  width: 100%;
  margin-top: 15px;

  >h2 {
    font-size: 14px;
    margin: 5px 0;
  }

  >.radio {
    border: 1px solid $grey;
    display: flex;
    width: 80%;
    margin-left: 10%;

    .item {
      border-right: 1px solid $grey;
      float: left;
      flex: 1;
      height: 25px;
      cursor: pointer;
      transition: background-color .5s;

      &:hover {
        background-color: $main2;
      }

      &:last-child {
        border-right: 0;
      }

      &.active {
        background-color: $main2;
      }

      >p {
        font-size: 14px;
      }

      >img,
      >i {
        margin-top: 2.5px;
        height: 20px;
        line-height: 20px;
      }
    }
  }

  &.twothirdswidth {
    width: 60%;
    float: left;
    margin-top: 15px;

    >.radio {
      margin-left: 10%;
      width: 90%;
    }
  }
}

.border-styles {
  margin: 10px 5%;
  width: 120px;
  height: 70px;
  float: left;
  position: relative;

  >input {
    width: 50px;
    height: 20px;
    background-color: $main2;
    position: absolute;
    border: 3px solid $main2;
    border-style: dotted;
    cursor: pointer;

    &.border-top {
      left: 35px;
      top: 0;
      border-top-color: $grey;
      text-align: center;

      &:hover,
      .active {
        border-top-color: $highlight;
      }
    }

    &.border-right {
      right: 0;
      top: 25px;
      border-right-color: $grey;
      text-align: right;

      &:hover,
      .active {
        border-right-color: $highlight;
      }
    }

    &.border-bottom {
      bottom: 0;
      left: 35px;
      border-bottom-color: $grey;
      text-align: center;

      &:hover,
      .active {
        border-bottom-color: $highlight;
      }
    }

    &.border-left {
      top: 25px;
      left: 0;
      border-left-color: $grey;

      &:hover,
      .active {
        border-left-color: $highlight;
      }
    }
  }
}
