// The styling for the header and the generated headerItems by buildMenu.js
.header {
  position: relative;
  user-select: none;
  width: 100%;
  height: 40px;
  background: $main;
  z-index: 150;
  float: left;
}

// The following is used for the generated items
.header-items {
  position: relative;
  float: left;
  width: 50%;
  margin-left: 5px;
  line-height: 45px;

  .header-contextmenu,
  .header-item {
    float: left;
    position: relative;
    cursor: pointer;

    &.header-contextmenu {
      display: none;
      position: fixed;

      > p {
        display: none;
      }

      > .header-item-options {
        display: block;
        position: initial;
      }
    }

    &:hover {
      > .header-item-options {
        display: block;
      }
    }

    > p {
      font-size: 14px;
      padding: 0 10px;
      color: $light;

      &:hover {
        color: $light2;
      }

      &:hover.header-item-options {
        display: block;
      }
    }
  }
}

.header-item-options {
  display: none;
  position: absolute;
  width: 250px;
  height: auto;
  background-color: $dark;
  top: 40px;
  border: 1px solid $grey;

  > ul {
    width: 100%;
    padding: 5px 0;

    .option-delimiter {
      border-bottom: 1px solid $grey;
      list-style: none;
      margin: 3px 0;
    }

    .option-item {
      list-style: none;
      height: 20px;
      padding: 3px 10px;
      line-height: 20px;
      font-size: 14px;
      color: $light;

      &.disabled {
        color: $grey;
        cursor: initial;

        &:hover {
          color: $grey;
          background-color: $dark;
        }
      }

      &.in-active {
        >i {
          color: $dark;
        }
      }

      &:hover {
        color: $light2;
        background-color: $main;

        > .option-underitem {
          display: block;
        }
      }

      > a {
        color: $light;
        text-decoration: none;
      }

      > i {
        width: 20px;
        height: 100%;
        font-size: 15px;
        line-height: 20px;
        float: left;

        &.fa-check {
          font-size: 11px;
        }
      }

      > p {
        width: 100px;
        height: 100%;
        float: left;
      }

      > .shortcut {
        float: right;
        text-align: right;
        width: 100px;
        font-size: 12px;
        font-weight: 500;
        color: $grey;

        > i {
          line-height: 20px;
          color: $light;
        }
      }

      .option-underitem {
        border: 1px solid $grey;
        padding: 2px 0;
        display: none;
        position: absolute;
        right: -242px;
        background-color: $dark;
      }
    }
  }
}

// non generated header icons
.header-icons {
  float: right;
  position: relative;
  margin-right: 5px;
  height: 40px;
  line-height: 45px;

  > i {
    color: $light;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    transition: color .3s;
    cursor: pointer;

    &:hover {
      color: $light2;
    }

    &.selected {
      color: $highlight;
      background-color: $dark;
    }
  }
}
