/** The styling for texteditor.html */
.texteditor {
  height: 0;
  width: 100%;
  position: relative;
  float: left;
  transition: height 0.5s;
  background-color: $main;
  overflow: hidden;

  &.visible {
    height: 35px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
}

.texteditor-items {
  height: 100%;
  padding: 0 3%;
}

.texteditor-delimiter {
  height: 100%;
  width: 0;
  border-right: 1px solid $border;
  margin: 0 10px;
  float: left;
}

.texteditor-item {
  float: left;
  height: 20px;
  margin-top: 5px;
  margin-left: 3px;
  border-radius: 2px;

  > i,
  p {
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 2px;
    color: $light;
    cursor: pointer;

    &:hover {
      color: $light-active;
      background-color: $main-background;
    }
  }

  .dropdown {
    border-radius: 2px;

    &:focus,
    &:hover {
      background-color: $main-background;

      input,
      p {
        background-color: $main-background;
        border: 1px solid $main-background;
      }

      .caret {
        border-left: 1px solid $border;
      }
    }

    input,
    p {
      font-size: 14px;
      font-weight: 400;
      border: 1px solid $main;
    }

    p {
      padding: 1.5px 5px;
      line-height: 21px;

      &~.caret {
        height: 15px;
        line-height: 18px;
      }

      &.font-type {
        width: 60px;
      }
    }

    input {
      padding: 0 5px;

      &.font-size {
        width: 35px;
      }

      &.font-style {
        width: 160px;
      }
    }

    .caret {
      margin-left: 2px;
      padding: 5px;
      font-size: 12px;
      color: $light;
      border-left: 1px solid $main;
      cursor: pointer;
    }

    input {
      margin-top: 2px;
      height: 20px;
    }

    > ul {
      display: none;
    }
  }
}
