// The styling for window-addToUsingElementPackages.html
// The styling for window-onlineElementPackages.html
// sass-lint:disable class-name-format

.window-addToUsingElementPackages {
  .window-content {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(60% - 30px);
    max-height: 80%;
    padding: 20px;
    border-radius: 2px;

    > h2 {
      text-align: center;
      color: $light;
      margin: 5px 0;
      padding-bottom: 20px;
      border-bottom: 1px dashed $border;
    }

    h3 {
      font-size: 20px;
      color: $border;
      margin: 15px 0 10px;
      cursor: pointer;
      transition: color .4s;

      > i {
        margin-left: 5px;
        transform: rotate(-90deg);
        transition: color .4s, transform .4s;
      }

      & + * {
        display: none;
      }

      &:hover {
        color: $light;

        > i {
          color: $light;
        }
      }

      &.active {
        color: $light;

        & + * {
          display: block;
          animation: fadeIn 1s forwards;
        }

        > i {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.window-addToUsingElementPackages .loading {
  display: none;
  background-color: $main;
  z-index: 1;
  text-align: center;
  color: $light;
  overflow: hidden;

  >h2 {
    margin-bottom: 50px;
  }

  >i {
    display: block;
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
  }

  &.active {
    display: block;

    &+div {
      display: none;
    }
  }
}

.window-addToUsingElementPackages .default-info {
  width: 100%;

  > div {
    &::after {
      content: '.';
      clear: both;
      display: block;
      visibility: hidden;
      height: 0;
    }

    > .img {
      float: left;
      width: 100px;
      height: 100px;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    > .description {
      float: left;
      width: calc(100% - 140px);
      height: 100px;
      padding: 0 20px;

      > p {
        color: $light-active;
      }
    }
  }
}

.window-addToUsingElementPackages .dependency-info {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  td,
  th {
    border: 1px solid $border;
  }

  // sass-lint:disable force-pseudo-nesting
  tr td:first-child {
    width: 30%;
  }

  td,
  th {
    padding: 10px;
  }

  th {
    color: $light;
    font-size: 18px;
  }

  td {
    color: $light;

    > a {
      color: $light;
    }
  }

  .inlcudeAs {
    width: 10%;
    text-align: center;
  }
}

.window-addToUsingElementPackages .code-info {
  > div {
    > p {
      color: $light;

      > i {
        margin-left: 5px;
      }
    }

    > code {
      color: $light;
      background-color: $main-background;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.window-addToUsingElementPackages .items-info .new-elements-content {
  color: $border;
  width: 100%;
  margin: 0;

  .items .item {
    width: 100px;
  }

  .hidden {
    display: table-row;
  }
}

.window-addToUsingElementPackages .accept {
  margin-top: 30px;
  margin-bottom: 0;
}
