$main: #21252b;
$main2: #343840;

$dark: #181a1f;
$dark2: #000;
$light: #d7dae0;
$light2: #fff;

$highlight: #568af2;
$highlight-active: #72a1fd;
$highlight2: rgba(255, 0, 0, .5);
$highlight3: #0046d2;

$red: #c0392b;
$orange: #d35400;
$green: #27ae60;

$grey: #464646;
$grey2: rgba(0, 0, 0, .75);
