$main: #21252b;
$main-background:#343840;
$border: #464646;

$dark: #181a1f;
$light: #d7dae0;
$light-active: #fff;

$highlight: #568af2;
$highlight-Hover: #72a1fd;

$frameHover: rgba(255, 0, 0, 0.50);
$frameClick: #0046d2;

$red: #c0392b;
$green: #27ae60;
