// global inputs
input,
select {
  background-color: $main;
  border: 0;
  border-bottom: 1px solid $border;
  box-sizing: border-box;
  color: $light;
  font-size: 14px;
  outline: 0;
  padding: 0 3px;

  &:focus {
    background-color: $main-background;
    border: 1px solid $border;
  }
}
