// global inputs
input {
  background-color: $main;
  border: 1px solid $main;
  color: $light;
  font-size: 14px;
  outline: 0;
  padding: 0 3px;

  &:focus {
    background-color: $main-background;
    border: 1px solid $border;
  }
}
