// global inputs
input,
select {
  background-color: $main;
  border: 0;
  border-bottom: 1px solid $grey;
  box-sizing: border-box;
  color: $light;
  font-size: 14px;
  outline: 0;
  padding: 0 3px;

  &:focus {
    border-color: $highlight;
  }
}

button {
  border: 1px solid $grey;
  background-color: $main;
  color: $light;
  cursor: pointer;
  transition: background-color .5s;
  padding: 3px;

  &:hover {
    background-color: $main2;
  }
}
