// webkit only scrollbar styling
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

// sass-lint:disable no-color-literals
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #fff;
  border-radius: 50px;

  &:hover {
    background: #fff;
  }

  &:active {
    background: #000;
  }
}

::-webkit-scrollbar-track {
  background: #666;
  border: 0 none #fff;
  border-radius: 50px;

  &:hover {
    background: #666;
  }

  &:active {
    background: #333;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}
