.center {
  position: fixed;
  top: 40px;
  left: 250px;
  width: calc(100% - 500px);
  height: calc(100% - 40px);
  background-color: $main-background;
  display: flex;
  justify-content: center;
  align-items: center;
  >iframe{
    height: 110%;
    border: none;
    background-color: #fff;
  }
  .hover{
    position: absolute;
    height: 110%;
    width: 1200px;
  }
}
