.domTree {
  padding: 5px;
  height: 300px;
  >ul{
    width: calc( 100% - 30px);
    margin-left: 0 !important;
  }
  ul, li {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;

    span {
      font-size: 11px;
      font-weight: 100;
      margin-left: 5px;
      color: $highlight;
    }
  }
  ul {
    position: relative;
    margin: 0 0 0 15px;

    p{
      float: left;
      width: 92%;
      font-size: 16px;
      &:hover{
        background-color: $frameHover;
      }
    }

    &.hidden {
      ul, li{
        display: none;
      }
    }

    i {
      float: left;
      margin-right: 5px;
    }

    li{
      margin: 2px 0 2px 15px;
      list-style: none;
      &:hover{
        background-color: $frameHover;
      }
    }
  }
}
