.sidebar {
  width: 250px;
  position: relative;
  bottom: 0;
  height: calc(100% - 40px);
  background-color: $main;
  color: $light;
  user-select: none;

  &.left-sidebar{
    float: left;
  }

  &.right-sidebar{
    float: right;
    width: 300px;
  }
}


.sidebar-navigation{
  position: relative;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid $highlight;
  background-color: $dark;
  line-height: 30px;

  .sidebar-navigator{
    float: left;
    width: 33.333%;
    text-align: center;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      background-color: $highlight-Hover;
      color: $light-active;
    }

    &.selected{
      background-color: $highlight;
      color: $light-active;
    }
  }
}

.sidebar-header{
  width: 100%;
  height: 30px;
  background-color: $dark;
  border-bottom: 1px solid $border;
  >div:first-child{
    width: calc(100% - 5px);
    height: 100%;
    padding: 0 0 0 5px;
    >p{
      line-height: 30px;
      float: left;
    }
    >i{
      float: right;
      line-height: 30px;
      margin-right: 10px;
      color: $border;
      cursor: pointer;
      &:hover{
        color: $light-active;
      }
    }
  }
}

.sidebar-border{
  border-bottom: 1px solid $highlight;
}

.sidebar-bottom{
  width: 100%;
  height: 37%;
}

.overflow {
  width: calc( 100% + 30px) !important;
  overflow-x: hidden;
  overflow-y: scroll;
  >div{
    width: calc( 100% - 30px);
  }
}

.sidebar-content{
  width: 100%;
  height: 60%;
}
